
body {
    background-color: #36454F;
    font-family: 'Arial', sans-serif;
    color: white;
    padding: 20px;
}

.bg-base {
    border: 2px dashed #191970;
    padding: 20px;
    border-radius: 1rem;
    color: #9EB9D4;
}

.bg-secondary {
    border: 2px dashed #841617;
    padding: 20px;
    border-radius: 1rem;
    color: #CD5C5C;
}

.bg-fusion {
    border: 2px dashed #32174D;
    padding: 20px;
    border-radius: 1rem;
    color: #C9A0DC;
}

.pokemon-img {
    display: block;
    margin: 0 auto 10px;
}

select {
    background-color: #F0EAD6;
    color: black;
    padding: 10px;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 10px;
}

.option-placeholder {
    color: #9ca3af;
}

.passive-ability {
    color: #F0EAD6;
    text-align: center;
    margin-top: 10px;
}
